body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game-board {
    display: grid;
    grid-gap: 1px;
    background-color: #cccccc;
    border: 1px solid #cccccc;
}

#game-board div {
    background-color: white;
    font-size: 10px;
}